@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   section{
      @apply py-[75px]
   }
}
@layer components{
   .container{
      @apply max-w-full w-[1440px] px-5 mx-auto
   }
   .btn{
      @apply bg-primaryColor py-[15px] rounded-[50px] text-white font-[600] mt-[30px]
   }
   .heading{
      @apply text-[44px] leading-[54px] font-[700] text-headingColor
   }
   .text-para{
      @apply text-[18px] leading-[30px] font-[400] text-textColor mt-[18px]
   }
   
}
@media only screen and (max-width: 1024px) {
   .container{
      @apply w-full;
   }
   section{
      @apply py-[35px];
   }
}
@media only screen and (max-width: 768px){
   .heading{
      @apply text-[26px] leading-[36px];
   }
   .text-para{
      @apply text-[16px] leading-7 mt-3;
   }
}

.header {
   background-image: url('../src/assets/images/mask.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
 }
 .hero-section{
   background-image: url('../src/assets/images/hero-bg.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

.sticky-header{
   width: 100%;
   height: 80px;
   line-height: 80px;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 99999;
   background-color: #fff;
   box-shadow: 3px 3px -8px 3px #ddd;
   transform: translateY(-5%);
   transition: transform 1s ease;
 }

 @media only screen and (max-width: 768px){
   .navagation{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      background: #00000084;
      display: none;
   }
   .menu{
      width: 15rem;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 200;
      background-color: #fff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .show-menu{
      display: block;
   }
 }
